/*CSS reset*/
*,*::before,*::after{
    padding:0px;
    margin:0px;
}
html{
    --darkBlue: #0c2542;
    --orange: #ffb019;
}

body{
    /* border:2px solid red; */
    min-height:95vh;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
/*Header section styles*/
.header{
    background-color: var(--darkBlue);
    color: var(--orange);
    padding:15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 5px 10px var(--darkBlue);
}
.header img{
    margin-left: auto;
}




/*section declaration*/

.Account_logIn{
    display:flex;
    flex-direction: column;
    width:75%;
    margin: auto;
    /* border:2px solid red; */
    align-items: center;
    margin-top: 50px;
}
.Account_logIn form{
    color: var(--orange);
    background-color: var(--darkBlue);
    padding:15px;
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    width: 65%;
    box-shadow: 0px 5px 10px var(--darkBlue);
    gap:15px;
}

/*input styling*/
.Login_input{
    display:flex;
    flex-direction: column;
    background-color: #5a6c82;
    border-radius: 10px 10px 0px 0px;
    padding:5px;
    position: relative;
    z-index: 1;
}
.Login_input::after{
    position:absolute;
    content:'';
    right:0;
    left:0;
    bottom:0;
    height:2px;
    background-color:white;
    z-index: 2;
}
.Login_input::before{
    position: absolute;
    content:'';
    right:0;
    left:0;
    bottom:0;
    height: 2px;
    background-color: var(--orange);
    transform: scaleX(0);
    transition: .3s ease-in-out;
    z-index: 4;
}
.Login_input:focus-within::before{
    transform: scaleX(100%);
    transition: .3s ease-in-out;
}
.Login_input input{
    font-size: large;
    background-color: transparent;
    border: none;
    height:25px;
    outline:none;
    padding:5px;
    cursor: pointer;
}

/**LoginBtn*/
.Account_logIn button{
    margin: auto;
    width: 40%;
    height:50px;
    border-radius:10px;
    border:none;
    font-size: larger;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.Account_logIn button:before{
    content: '';
    background-color: var(--orange);
    position: absolute;
    border-radius:10px;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: .3s ease-in-out;
}
.Account_logIn button:hover::before{
    transform: scaleX(100%);
    transition: .3s ease-in-out;
} 

span{
    cursor: pointer;
}

/*Mobile support*/
@media screen and (max-width:650px) {
    body{
        font-size: smaller;
    }
    img{
        height:75px;
    }
    .Account_logIn{
        width: 100%;
    }
}